* {
    box-sizing: border-box;
    color: black;
    font-family: 'Thasadith', serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.dark-mode {
    background: #040720;
    color: white;
}

.dark-mode * {
    color: inherit;
}

.dark-mode #mainnav li a {
    color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#lightchange {
    fill: white;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
}

.container {
    padding: 0;
    min-height: 100%;

    margin-top: 0px; /*-70*/
    margin-bottom: 0px;
    margin-right: 0;
    margin-left: 0;
}

header {
    background-color: inherit;
    /* width: 80%; changing the height adds unnecessary space to the side of the nav*/

    height: 10%; /*180px*/ 
    padding: 0 0 0 0;

    margin: 0 0 0 0;
}

ul, li {
    padding: 0;
    display: block;
}

#mainnav {
    display: flex;
    margin: 0; /*top right bottom left, 0 auto*/
    }

#mainnav ul {
    padding: 1.5625em 0 1.5625em 0;
}

#mainnav li {
    display: inline;
}

#mainnav li svg {
    width: 5%;
    height: auto;
}

#themechange {
    display: inline;
}

#mainnav a {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.5625em;
}

#mainnav a:hover { 
    transition: 3s linear;
    text-decoration: underline black 0.12em;
}

.logo-content {
    display: inherit;
    flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */

    align-items: center;
}

.main-logo img {
    display: inherit;

    width: 25%; /*to scale with width*/
    /*margin: 12px; /* 5%, to space image from top of page*/
    padding: 25px 0 25px 25px;
    border-radius: 50%;
}

section {
    background-image: inherit;

    /* background-position: center center;
    background-repeat: no-repeat; */
    /* padding: 2% 0% 2% 15% */
}

.maincontent {
    background-color: inherit; /*red, green, blue, opacity*/
    font-family: "Raleway", sans-serif;

    min-height: 500px;
    text-align: left;
    padding: 1% 0 0 5%;
    font-size: 4.25em;
}

.content-section {
    background: inherit;
    padding: 10px 10px 0px 10px;
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin: 10px 85px 0px 0px;
}

.btn {
    color: inherit;
    border: 1px solid inherit; /* or none */
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.dark-mode .btn {
    background-color: #20244a;
    color: inherit;
}

li {
    display: block;
    list-style-type: circle;
    margin: 0px 20px 0px 0px; /* spacing in-between the boxes */
    padding: 10px 0px 10px 0px; /* spacing inside the boxes 10 20 10 20*/
}

code {
    display: inline-block;
    background: rgba(1, 2, 3, 0.9);
    font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "monospace";
    tab-size: 2;
    word-break: normal;
    hyphens: none;
    white-space: pre;
    overflow-x: scroll;
    font-size: 16px;
    padding: 2px 8px 2px 8px; /*5 20 12 22*/
    line-height: 1.75;
}

.lng-css, .lng-js, .lng-scss {
    color: #f5d67b;
}

footer {
    background-color: black;
    width: 100%;
    min-height: 90px;
    text-align: center;
    padding-top: 1%;
}

footer div {
    position: absolute;
    right: 0;
    width: 112px;
    z-index: 2;
}

footer a {
    padding: 0px 10px 0px 10px;
}
